Repository Nabz786/Contact-Cards: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, ci/build-webapi.yml

azure-pipelines.yml:

trigger:
  branches:
   include:
     - master
  paths:
   include:
     - ContactListWebApp

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  displayName: Install NodeJS
  inputs:
    versionSpec: '14.x'
- task: Npm@1
  displayName: Install The Angular CLI
  inputs:
    command: 'custom'
    customCommand: 'install -g @angular/cli'
- task: CmdLine@2
  displayName: "Install Dependencies"
  inputs:
    script: | 
      cd $(Build.SourcesDirectory)/ContactListWebApp
      ls
      npm install 
- task: Npm@1
  displayName: 'Build Web App'
  inputs:
    command: 'custom'
    customCommand: 'run build'
    workingDir: '$(Build.SourcesDirectory)/ContactListWebApp'

ci/build-webapi.yml:

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - ContactListAPI
  batch: true

pool:
  vmImage: ubuntu-latest

steps:
  - task: UseDotNet@2
    inputs:
      version: '3.1.x'
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: '**/*.csproj'
      arguments: '--configuration $(buildConfiguration)'

fix indentation
  ContactListAPI/Persistence/Contexts/ContactsContext.cs
Due: ci/build-webapi.yml

Updated readme
  README.md
Due: none

fix linting errors
  ContactListWebApp/e2e/src/app.e2e-spec.ts
  ContactListWebApp/e2e/src/app.po.ts
  ContactListWebApp/src/app/app-routing.module.ts
  ContactListWebApp/src/app/app.component.spec.ts
  ContactListWebApp/src/app/app.component.ts
  ContactListWebApp/src/app/app.module.ts
  ContactListWebApp/src/app/contact-list/add-contact/add-contact.component.ts
  ContactListWebApp/src/app/contact-list/home/contact-card/contact-card.component.ts
  ContactListWebApp/src/app/contact-list/home/home.component.spec.ts
  ContactListWebApp/src/app/contact-list/home/home.component.ts
  ContactListWebApp/src/app/contact-list/not-found/not-found.component.spec.ts
  ContactListWebApp/src/app/contact-list/not-found/not-found.component.ts
  ContactListWebApp/src/app/contact-list/user-login/user-login.component.spec.ts
  ContactListWebApp/src/app/contact-list/user-login/user-login.component.ts
  ContactListWebApp/src/app/header/header.component.ts
  ContactListWebApp/src/app/material/material.module.ts
  ContactListWebApp/src/app/services/contact-subject.service.ts
  ContactListWebApp/src/app/services/contact.service.ts
  ContactListWebApp/src/app/services/notification.service.ts
  ContactListWebApp/src/app/services/user-actions-service.ts
  ContactListWebApp/src/environments/environment.prod.ts
  ContactListWebApp/src/main.ts
  ContactListWebApp/src/polyfills.ts
  ContactListWebApp/src/test.ts
Due: azure-pipelines.yml

fixed linting errors
  ContactListWebApp/e2e/src/app.e2e-spec.ts
  ContactListWebApp/e2e/src/app.po.ts
  ContactListWebApp/src/app/app-routing.module.ts
  ContactListWebApp/src/app/app.component.spec.ts
  ContactListWebApp/src/app/app.component.ts
  ContactListWebApp/src/app/contact-list/add-contact/add-contact.component.ts
  ContactListWebApp/src/app/contact-list/home/contact-card/contact-card.component.ts
  ContactListWebApp/src/app/contact-list/home/home.component.spec.ts
  ContactListWebApp/src/app/contact-list/home/home.component.ts
  ContactListWebApp/src/app/contact-list/not-found/not-found.component.spec.ts
  ContactListWebApp/src/app/contact-list/not-found/not-found.component.ts
  ContactListWebApp/src/app/contact-list/user-login/user-login.component.spec.ts
  ContactListWebApp/src/app/contact-list/user-login/user-login.component.ts
  ContactListWebApp/src/app/header/header.component.ts
  ContactListWebApp/src/app/material/material.module.ts
  ContactListWebApp/src/app/services/contact-subject.service.ts
  ContactListWebApp/src/app/services/contact.service.ts
  ContactListWebApp/src/app/services/usersession.service.ts
  ContactListWebApp/src/app/shared/Interceptors/authentication.interceptor.ts
  ContactListWebApp/src/app/shared/ServiceResponse.model.ts
  ContactListWebApp/src/app/shared/contact.model.ts
  ContactListWebApp/src/app/user/delete-account/user-delete-account.component.ts
  ContactListWebApp/src/environments/environment.prod.ts
  ContactListWebApp/src/environments/environment.ts
  ContactListWebApp/src/main.ts
  ContactListWebApp/src/test.ts
  ContactListWebApp/src/tslint.json
Due: azure-pipelines.yml

updated inner tslint rules
  ContactListWebApp/tslint.json
Due: azure-pipelines.yml

Added linting step to webapp build pipeline
  ci/build-webapp.yml
Due: none

testing linting
  ContactListWebApp/src/app/app.component.ts
Due: azure-pipelines.yml

testing linting step in CI
  ContactListWebApp/src/app/app.component.ts
Due: azure-pipelines.yml

Change all username properties to email
  ContactListAPI/Controllers/UserAuthenticationController.cs
  ContactListAPI/Domain/Models/Requests/UserLoginRequest.cs
  ContactListAPI/Domain/Models/Requests/UserRegistrationRequest.cs
  ContactListAPI/Domain/Models/User.cs
  ContactListAPI/Domain/Repositories/IUserAuthenticationRepository.cs
  ContactListAPI/Persistence/Repositories/UserAuthenticationRepository.cs
  ContactListWebApp/src/app/contact-list/user-login/user-login.component.html
  ContactListWebApp/src/app/contact-list/user-login/user-login.component.ts
  ContactListWebApp/src/app/services/authentication.service.ts
Due: azure-pipelines.yml, ci/build-webapi.yml

remove console.log
  ContactListWebApp/src/app/shared/Interceptors/authentication.interceptor.ts
Due: azure-pipelines.yml

Implemented forgot password component
  ContactListWebApp/src/app/app.module.ts
  ContactListWebApp/src/app/contact-list/forgot-password/forgot-password.component.css
  ContactListWebApp/src/app/contact-list/forgot-password/forgot-password.component.html
  ContactListWebApp/src/app/contact-list/forgot-password/forgot-password.component.ts
  ContactListWebApp/src/app/contact-list/user-login/user-login.component.css
  ContactListWebApp/src/app/contact-list/user-login/user-login.component.html
  ContactListWebApp/src/app/contact-list/user-login/user-login.component.ts
  ContactListWebApp/src/app/services/user-actions-service.ts
Due: azure-pipelines.yml

Added generic success notification popup
  ContactListWebApp/src/app/services/notification.service.ts
  ContactListWebApp/src/styles.css
Due: azure-pipelines.yml

Upgrade to angular V8
  ContactListWebApp/angular.json
  ContactListWebApp/browserslist
  ContactListWebApp/package-lock.json
  ContactListWebApp/package.json
  ContactListWebApp/tsconfig.json
  ContactListWebApp/tslint.json
Due: azure-pipelines.yml

Upgrade webapp build to use npm ci instead of npm install to leverage package lock file
  ci/build-webapp.yml
Due: none
